####
# GK3
####
## Exclude copyright/licensed files
Assets/GK3/*
!Assets/GK3/README.md

## Ignore Bin directory (where final release files go)
Bin

####
# Xcode
####
## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

####
# Visual Studio
####
.vs
*.vcproj.user

[Dd]ebug/
[Rr]elease/
x64/
x86/