<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2017 Clark Kromenaker. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.kromenak.gengine</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleDisplayName</key>
	<string>Gabriel Knight 3</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-US</string>
</dict>
</plist>
